@charset "UTF-8";
body {
  background-color: var(--main-background);
  color: var(--main-color);
  letter-spacing: 0.03em;
  font-family: "Roboto", sans-serif;
}

.features__title-hidden,
.filter__title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding: 60px 0;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

/* палітра кольорів */
/* колір основного тексту rgba(33, 33, 33, 1)*/
/* колір вторичного тексту rgba(117, 117, 117, 1)*/
/* колір основного заголовку rgba(255, 255, 255, 1)*/
/* колір акценту color: #2196F3;*/
/* основний колір фону #E5E5E5;*/
/* задній фон SVG rgba(245, 244, 250, 1)*/
/* палітра кольорів */
/* фон кнопки rgba(245, 244, 250, 1)*/
/* background-acent background: rgba(33, 150, 243, 0.9) */
:root {
  --secondary-color: rgba(117, 117, 117, 1);
  --main-color: rgba(33, 33, 33, 1);
  --main-title-color: rgba(255, 255, 255, 1);
  --accent-color: rgba(33, 150, 243, 1);
  --main-background: #FFFFFF;
  --background-SVG: rgba(245, 244, 250, 1);
  --icon-color: rgba(175, 177, 184, 1);
  --background-botton: rgba(245, 244, 250, 1);
  --background-accent: rgba(33, 150, 243, 0.9);
}

/* ресет */
h1,
h2,
h3,
ul,
p,
a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  display: block;
}

img {
  display: block;
  width: 100%;
}

/* шапка сторінки */
.header {
  border-bottom: 1px solid #ECECEC;
}

/* логотип компанії */
.logo {
  color: black;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  min-width: 145px;
  padding: 16px 0;
}
@media screen and (min-width: 768px) {
  .logo {
    padding: 26px 0;
    margin-right: 88px;
  }
}

.logo-accent {
  color: var(--accent-color);
}

/* навігація сайту */
.navigation {
  gap: 50px;
}
@media screen and (min-width: 768px) {
  .navigation__item {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color);
}
@media screen and (max-width: 767px) {
  .navigation__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--main-color);
  }
}
@media screen and (min-width: 768px) {
  .navigation__link {
    font-weight: 500;
    letter-spacing: 0.02em;
    font-size: 14px;
    line-height: 1.14;
    color: var(--main-color);
    text-decoration: none;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 32px 0px;
  }
}

.navigation__link-current {
  position: relative;
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .navigation__link-current::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}

/* контакти */
@media screen and (min-width: 768px) {
  .contacts__icon {
    max-width: 14px;
    max-height: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__icon {
    width: 16px;
    height: 12px;
  }
}

.contacts__link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .contacts__link {
    font-size: 12px;
    line-height: 1.16;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    font-size: 14px;
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: c;
            flex-direction: c;
  }
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

.contacts__icon {
  display: none;
  fill: currentColor;
  margin-right: 10px;
}
@media screen and (min-width: 768px) {
  .contacts__icon {
    margin-right: 8px;
    display: block;
  }
}

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.burger-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.navigation {
  display: none;
}
@media screen and (min-width: 768px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 8px;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) {
  .contacts__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 30px;
  }
}

.burger-menu.is-open {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 48px 40px;
  width: 100%;
  height: 100%;
  background-color: white;
  top: 0;
  left: 0;
  overflow-y: scroll;
}
@media screen and (min-width: 768px) {
  .burger-menu.is-open {
    display: none;
  }
}

.burger-menu.is-open .navigation {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.burger-menu.is-open .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  font-size: 24px;
  line-height: 1.16;
  margin-bottom: 64px;
}
.burger-menu.is-open .contacts__item:last-child .contacts__link {
  font-size: 34px;
  color: var(--accent-color);
  margin-bottom: 32px;
}
.burger-menu.is-open .contacts__contacts__icon {
  display: none;
}

.social-list {
  display: none;
}

.burger-menu.is-open .social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.burger-menu .social-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger-menu.is-open .social-list__link {
  color: var(--accent-color);
}

.burger-menu .social-list__line {
  display: block;
  width: 22px;
  height: 1px;
  background-color: rgba(33, 33, 33, 0.2);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.burger-menu__button {
  right: 10px;
  top: 10px;
  background-color: transparent;
  border: none;
}
@media screen and (min-width: 768px) {
  .burger-menu__button {
    display: none;
  }
}
.burger-menu__button:hover {
  fill: var(--accent-color);
}

.burger-menu__button.is-open {
  position: absolute;
  top: 10px;
  right: 15px;
}

.burger-menu__button.is-open .burger-menu__menu {
  display: none;
}

.burger-menu__button .burger-menu__cross {
  display: none;
}

.burger-menu__button.is-open .burger-menu__cross {
  position: absolute;
  display: block;
  top: 10px;
  right: 15px;
}

.hero {
  padding: 0;
  background-position: center;
  background-size: cover;
  background-color: #2F303A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/phone-images/phone-header1.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/phone-images/phone-header1.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/phone-images/phone-header2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/phone-images/phone-header2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/tablet-images/tablet-header1.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet-images/tablet-header1.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/tablet-images/tablet-header2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet-images/tablet-header2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/pc-images/pc-header1.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/pc-images/pc-header1.jpg);
    max-width: 1600px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/pc-images/pc-header2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/pc-images/pc-header2x.jpg);
  }
}

.hero__container {
  padding: 118px 0px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .hero__container {
    padding: 200px 0px;
  }
}

.hero__title {
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  max-width: 360px;
  margin-bottom: 30px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-size: 44px;
  }
}

.hero__button {
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: 0;
  color: var(--main-title-color);
  background-color: var(--accent-color);
  font-family: inherit;
  cursor: pointer;
}

/* список переваг */
@media screen and (min-width: 1200px) {
  .features {
    padding-bottom: 0;
  }
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .features-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.features-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .features-list__item {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    max-width: 354px;
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features-list__item {
    width: calc((100% - 90px) / 4);
  }
}

.features-list__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-list__text {
  color: var(--secondary-color);
  font-size: 14px;
  line-height: 1.71;
}

.features-list__container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--background-SVG);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 120px;
}

/* приклади робіт */
@media screen and (max-width: 1200px) {
  .examples {
    display: none;
  }
}

.examples__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.examples-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.examples-list__item {
  position: relative;
}

.examples__images {
  display: block;
}

.examples-list__container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  content: "";
  font-size: 14px;
  line-height: 1.14;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.examples-list_text {
  font-weight: 700;
  color: #FFFFFF;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* наша команда */
.team {
  background-color: #F5F4FA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.team-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .team-card__block {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-card__block {
    width: calc((100% - 90px) / 4);
  }
}

.team-card__block {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #FFFFFF;
}

.team-card__box {
  padding: 30px 0px 24px;
}

.team-card__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team-card__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--secondary-color);
}

.team-card__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team-card___link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  color: var(--icon-color);
  fill: currentColor;
  border-radius: 50%;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-card___link:hover, .team-card___link:focus {
  background-color: var(--accent-color);
  color: var(--main-background);
}

.team-card__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.team-card___link {
  border-radius: 50%;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* клієнти */
.customers__title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.customers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .customers__list .customers__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .customers__list .customers__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .customers__list .customers__item {
    width: calc((100% - 150px) / 6);
  }
}

.customers__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 92px;
  color: var(--icon-color);
  border: 1px solid #AFB1B8;
  fill: currentColor;
  border-radius: 4px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__link:hover, .customers__link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

/* підвал */
.footer {
  padding: 60px 0px;
  background-color: #2F303A;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 767.98px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.logo__ftr {
  padding: 0;
  margin-bottom: 20px;
  color: var(--main-background);
}
@media screen and (min-width: 768px) {
  .logo__ftr {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 1200px) {
  .address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/* адреса */
.address__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .address__list {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.address__link {
  margin-bottom: 60px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:not(:last-child) {
  margin-bottom: 9px;
}
.address__link-white {
  color: var(--main-background);
}
.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

/* приєднуйтесь */
.join {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .join {
    margin-top: 5px;
  }
}
@media screen and (min-width: 1200px) {
  .join {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.join__title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-background);
}

.join__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
  gap: 10px;
}

.join__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  fill: currentColor;
  color: var(--main-background);
  border-radius: 50%;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join__links:hover, .join__links:focus {
  background-color: var(--accent-color);
}

/* підписка */
.subscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 1199.98px) {
  .subscription {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .subscription {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 5px;
  }
}

.subscription__title {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-background);
}

.subscription__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .subscription__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.subscription__input {
  margin-bottom: 20px;
  padding-left: 16px;
  height: 50px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: var(--main-background);
}
@media screen and (min-width: 480px) and (max-width: 1199.98px) {
  .subscription__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscription__input {
    width: 358px;
  }
}

.subscription__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  padding: 10px 29px;
  background: #2196F3;
  border-radius: 4px;
  border: none;
  color: var(--main-background);
}
@media screen and (min-width: 1200px) {
  .subscription__button {
    margin-left: 12px;
  }
}

.subscription__icon {
  margin-left: 10px;
}

/* модельне вікно */
.modal__close {
  position: absolute;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close:hover, .modal__close:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) rotate(1deg) scale(2);
          transform: translate(-50%, -50%) rotate(1deg) scale(2);
}

.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;
  -webkit-transform: scale(1) translate(-50%, -50%) rotate(360deg);
          transform: scale(1) translate(-50%, -50%) rotate(360deg);
  background-color: var(--main-background);
  border-radius: 4px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

/* форма */
.form__title {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.form__label {
  display: block;
  position: relative;
}

.form__span {
  display: block;
  margin-top: 10px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__input {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  margin-top: 4px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:hover, .form__input:focus {
  border-color: var(--accent-color);
  outline: none;
}
.form__input:hover + .form__icon, .form__input:focus + .form__icon {
  fill: var(--accent-color);
}

.form__icon {
  margin-left: 12px;
  position: absolute;
  top: 50%;
  left: 0;
  display: inline-block;
}

.form__textarea {
  display: block;
  margin-top: 4px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__textarea:hover, .form__textarea:focus {
  border-color: var(--accent-color);
  outline: none;
}

.form__text {
  margin-left: 8px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.form__textarea {
  padding: 12px 16px;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.01em;
}

.form textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

/* угода */
.agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__agreement {
  margin-top: 20px;
  margin-left: 17px;
}

.agreement__checkbox {
  position: absolute;
  -webkit-appearance: none;
}

.agreement__custom-checkbox {
  display: block;
  width: 16px;
  height: 15px;
  background-image: url(../images/check-box/Vector.svg);
}

.agreement__checkbox:checked + .agreement__custom-checkbox {
  background-image: url(../images/check-box/icon\ check.svg);
}

.agreement__text {
  margin-left: 7px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .agreement__text {
    font-size: 14px;
    line-height: 1.71;
  }
}

.agreement__link {
  display: inline-block;
  color: var(--accent-color);
  text-underline-position: under;
  text-decoration: underline;
}

.form__button {
  display: block;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 55px;
  margin-top: 30px;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--main-background);
  border: none;
}

/* фільтр */
.filter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 8px;
  margin-bottom: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .filter__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .filter__list__item {
    width: calc((100% - 120px) / 5);
  }
}

.filter__button {
  padding: 6px 22px;
  background-color: var(--background-botton);
  color: var(--main-color);
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: 0;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__button:hover, .filter__button:focus {
  background-color: var(--accent-color);
  color: white;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* набор контенту */
.resource {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.resource__item {
  /* width: calc((100% - 60px) / 3); */
  background-color: #ffffff;
  -webkit-transition: -webkit-box-shadow 250ms ease;
  transition: -webkit-box-shadow 250ms ease;
  transition: box-shadow 250ms ease;
  transition: box-shadow 250ms ease, -webkit-box-shadow 250ms ease;
}
.resource__item:hover, .resource__item:focus, .resource__item:hover .thumb__description, .resource__item:focus .thumb__description {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) {
  .resource__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .resource__item {
    width: calc((100% - 60px) / 3);
  }
}

.resource__link {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.thumb {
  position: relative;
  overflow: hidden;
}

.thumb__description {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: var(--background-accent);
  padding: 63px 24px;
  font-size: 18px;
  letter-spacing: 0.03em;
  color: var(--main-background);
  line-height: 1.56;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 250ms ease;
  transition: -webkit-transform 250ms ease;
  transition: transform 250ms ease;
  transition: transform 250ms ease, -webkit-transform 250ms ease;
}

.description {
  border: 1px solid #EEEEEE;
  border-top: 0;
  padding: 20px 24px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.thumb__title {
  margin-bottom: 4px;
}

.thumb__title {
  color: var(--main-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.thumb__text {
  color: var(--secondary-color);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.8;
}/*# sourceMappingURL=main.css.map */